.advantages__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

}

.advantages {
  display: flex;
  flex-direction: column;
  color: @dark-blue;
  background-color: @silver;
  outline: 2px solid yellow;
  text-align: center;
}

.advantages__heading {
  .light-title();
  line-height: 1.2;
  padding-top: 40px;
  margin: 0;
}

.advantages__list {
  .list-none();
  flex-direction: column;
  justify-content: center;
}

.advantages__slogan {
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
}

// .advantages__list-wrapper {
//   margin-top: 40px;
//   background-color: @silver;
// }

.advantages__item {
  color: black;
  font-size: 18px;
  margin-top: 18px;
  margin-bottom: 12px;
  width: 250px;
}

.advantages__description {
  font-size: 14px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}

.advantages__subtitle {
  .visually-hidden();
}

.advantages__picture {
  padding-top: 47px;
}

.advantages__title {
  margin-top: 33px;
  font-size: 18px;
}

.advantages__effect {
  display: none;
}

.advantages__picture--1 {
  display: none;
}

.advantages__picture--2 {
  display: none;
}

@media (min-width: @tablet-width) {
  .advantages__wrapper {
    display: flex;
    flex-direction: column;
    width: 660px;
  }

  .advantages__heading {
    font-size: 40px;
  }

  .advantages__effect {
    display: flex;
    min-height: 400px;
  }

  .advantages__24h {
    width: 50%;
    background-image: url("../img/icon-timer.svg");
    background-repeat: no-repeat;
    background-size: 277px 239px;
    position: relative;
  }

  .advantages__24hours {
    position: absolute;
    font-size: 96px;
    color: @pink;
    font-weight: 700;
    border: 15px solid @pink;
    border-radius: 50%;
  }

  .advantages__effect-description {
    width: 50%;
  }

  .advantages__list {
    order: 1;
    width: 330px;
  }

  .advantages__list-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: @silver;
  }

  .advantages__picture {
    display: none;
  }

  .advantages__picture--2 {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    background-color: @silver;
  }

  .advantages__heading {
    font-size: 50px;
  }

  .advantages__wrapper {
    display: flex;
    flex-direction: column;
    width: 1200px;
  }

  .advantages__list {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .advantages__item--24h {
    display: block;
  }

  .advantages__picture--1 {
    display: block;
  }

  .advantages__picture--2 {
    display: none;
  }
}
