.advantages {
    color: @dark-blue;
    background-color: @silver;
    background-image: url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    outline: 2px solid yellow;
  }
  
  .advantages__heading {
    color: @dark-blue;
    font-size: 24px;
    font-weight: 300;
  }
  
  .advantages__list {
    list-style: none;
    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: 64px 20px 305px;
   }
  
  .advantages-item {
    color: black;
    font-size: 18px;
    width: 280px;
    margin-top: 18px;
    margin-bottom: 12px;
  }
  
  .advantages__description {
    font-size: 14px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
  }
  