.advantages {
  color: @dark-blue;
  background-color: @silver;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  outline: 2px solid yellow;
  text-align: center;
}

.advantages__wrapper {
  .wrapper();
}
.advantages__heading {
  .light-title();
  line-height: 1.2;
}

.advantages__list {
  list-style: none;
}

.advantages-item {
  color: black;
  font-size: 18px;
  margin-top: 18px;
  margin-bottom: 12px;
}

.advantages__description {
  font-size: 14px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}

.advantages__subtitle {
  .visually-hidden();
}

.advantages__picture {
  padding-top: 47px;
}

.advantages__title {
margin-top: 33px;
}
