.contacts__title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 14px;
  margin-top: 29px;
}

.contacts__text,
.contacts__phone,
.contacts__mail {
  .light-title();
  color: @pink;
  text-decoration: none;
  margin: 0;
  padding: 0 20px;
}

@media (min-width: @tablet-width) {
  .contacts {
    margin: 0 auto;
    width: 620px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .contacts__column {
    width: 50%;
  }
}

@media (min-width: @tablet-width) {
  .contacts {
    width: 940px;
    flex-wrap: nowrap;
  }

  .contacts__column--mail {
    order: 2;
  }
}
