.download-app {
  width: 100%;
  padding: 0;
  outline: 2px solid red;
  background-color: @dark-blue;
}

.download-app__heading {
  background-repeat: no-repeat;
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  margin: 0 auto;
  padding-bottom: 350px;
  width: 280px;
  line-height: 1.2;
  text-align: center;
}

.download-app__btn {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  margin: 30px auto;
  text-align: center;
  border: 3px solid #ffffff;
  border-radius: 40px;
  padding: 15px 20px;
  width: 280px;
}

.download-app__list {
  display: flex;
  justify-content: center;
  .list-none();
  align-items: center;
  margin-bottom: 30px;
}

.download-app__item {
  text-decoration: none;
  color: #ffffff;
  padding: 0 20px;
}

.download-app__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 280px;
}

.download-app__description {
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 38px;
}

@media (min-width: @tablet-width) {
  .download-app {
    width: 300px;
    background-color: transparent;
  }

  .download-app__description {
    font-size: 18px;
  }

  .download-app__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
  }

  .download-app__btn {
    width: 300px;
  }
}

@media (min-width: @desktop-width) {
  .download-app__btn {
    font-size: 20px;
    padding: 15px 20px;
  }
}
