.gallery {
  margin: 0 auto;
  list-style: none;
  .list-none();
}

.gallery__post {
  background-color: @silver;
  font-size: 14px;
  padding-left: 19px;
  padding-right: 30px;
  margin: 0 auto;
  width: 280px;
}

.gallery__panorama-post {
  background-color: @silver;
  padding-left: 17px;
  padding-right: 30px;
  margin: 0 auto 20px auto;
  width: 280px;
}

.gallery__image {
  max-width: 100%;
  height: auto;
  margin-bottom: 25px;
}

.gallery__post-time {
  font-weight: 300;
  color: #a8abaf;
  margin: 0;
  font-size: 12px;
}

.gallery__likes {
  color: @pink;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 24px;
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  background-position: 0 2px;
  padding-left: 32px;
}

.gallery__wrapper {
  margin: 0 auto;
  border: 2px solid orangered;
}

.gallery__image--panorama {
  width: 100%;
  margin: 0;
  padding: 0;
}

.gallery__author-image {
  font-weight: 700;
  font-size: 14px;
  color: #000000;
  padding-right: 5px;
}

@media (min-width: @tablet-width) {
  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .gallery__panorama-post {
    width: 620px;
    margin: 0 auto;
  }

  .gallery__wrapper {
    width: 620px;
  }

  .gallery__post {
    width: 300px;
    margin-bottom: 19px;
  }

  .gallery__text {
    font-size: 14px;
  }

  .gallery__likes {
    background-position: 227px 2px;
    padding-left: 0;
  }
}

@media (min-width: @desktop-width) {
  .gallery__wrapper {
    width: 940px;
  }

  .gallery__post {
    margin-bottom: 55px;
  }

  .gallery__image {
    height: 400px;
  }

  .gallery__panorama-post {
    width: 940px;
    margin: 0 auto;
  }
}
