.gallery {
  margin: 0 auto;
  list-style: none;
  width: 320px;
  .list-none();
}

.gallery__post {
  background-color: @silver;
  font-size: 14px;
  padding-left: 17px;
  padding-right: 30px;
  margin: 0 auto;

}

.gallery__image {
  max-width: 100%;
  height: auto;
}

.gallery__post-time {
  font-weight: 300;
  color: #a8abaf;
}

.gallery__likes {
  color: @pink;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 24px;
}

.gallery__wrapper {
  .wrapper();
  border: 2px solid orangered;
}

.gallery__author-image {
  font-weight: 700;
  color: #000000;
}
