.main-nav {
  color: #ffffff;
  background-color: #283645;
}

.main-nav__list {
  .list-none();
  text-align: center;
}


.main-nav__link {
  display: block;
  padding: 20px 0;
  color: #ffffff;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #485461;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
}
