.page-main {
  margin: 0 auto;
}

.page-main__slogan {
  color: @dark-blue;
  font-size: 14px;
  font-weight: 300;
  width: 280px;
  text-align: center;
  padding-top: 55px;
  padding-bottom: 55px;
  line-height: 1.7;
  outline: 2px solid yellow;
  margin: 0 auto;
}
