.page-header {
  display: flex;
  flex-direction: column;
  background-color: @bg-color-header;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  //outline: 2px solid blue;
  color: @white;
  text-align: center;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #283645;
  height: 70px;
  .wrapper();
}


@media (min-width: @tablet-width) {
  .page-header__wrapper {
    height: 109px;
  }
}

.page-header__title {
  .visually-hidden();
}

.page-header__heading {
  font-size: 24px;
  font-weight: 300;
}

.page-header__subtitle {
  .light-title();
  text-align: center;
}

@media (min-width: @desktop-width) {
  .page-header__nav {
    display: flex;
    justify-content: space-between;
    height: 109px;
    margin: 0 auto;
    padding: 0;
    width: 960px;
  }

  .page-header__toggle {
    display: none;
  }
}
