.page-header {
  background-color: @bg-color-header;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  //outline: 2px solid blue;
  color: @white;
  text-align: center;
}

.page-header__wrapper {
  .wrapper();
}

.page-header__title {
  .visually-hidden();
}

.page-header__heading {
  font-size: 24px;
  font-weight: 300;
}

.page-header__subtitle {
  .light-title();
  text-align: center;
}

