.reviews__list {
  .list-none();
}

.reviews__wrapper {
  .wrapper();
}

.reviews__author-name {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.reviews__text {
  text-align: center;
}
